@model BlogsListModel

@{
    ViewBag.Title = "Index";
}

@switch(Model.TypeInfo)
{
    case 0: <h2>Главная</h2>; break;
    case 1: <h2>Новости</h2>; break;
    case 2: <h2>Анонс</h2>; break;
    case 3: <h2>Информация</h2>; break;
    default: <h2>error</h2> ; break;
}

@if (Model.TypeInfo != 0) { @Html.ActionLink("Добавить", "Create", new { typeInfo = Model.TypeInfo }) }
@foreach (var m in Model.Articles)
{
    <a href="@Url.Action("ViewPage",new { id = m.ID })">
        <div class="media">
            <div class="pull-left">
                @Html.TapeDeterm(@m.Image)
            </div>
            <div class="media-body">
                <div class="col-sm-8">
                    <div class="media-heading">@m.Name</div>
                    <p>@m.Content.Split('.')[0]</p>
                </div>
                <div class="pull-right col-sm-4">
                    @using (Html.BeginForm("Delete", "Blog", new { id = m.ID }))
                {
                        <button type="submit" class="btn delete">
                            Удалить <span class="glyphicon glyphicon-remove"></span>
                        </button>
                    }
                    @using (Html.BeginForm("Publish", "Blog", new { id = m.ID }))
                {
                        <button type="submit" class="btn publish">
                            @((m.Publish) ? "Изьять" : "Опубликовать") 
                            <span class="@((m.Publish)?"glyphicon glyphicon-eye-close":"glyphicon glyphicon-eye-open")"></span>
                        </button>
                    }
                </div>
            </div>
        </div>
    </a>
    <hr />
}



